.talk { /* stylelint-disable */

}
.talkGrid {
  height: 100%;
  /* position: absolute; */
  background: #FEFFEC;
  width: 84%;
  float: left;
  overflow: auto;
}
@media only screen and (max-width: 768px) {
    .talkGrid {
      width: 100%;
      padding-top: 84px;
      float: none;
    }
}
