.loginContainer { /* stylelint-disable */
  margin: 0 auto;
  width: 70%;
  padding-bottom: 80px;
}
.register {

}
.emptyButton {
  border: 4px solid #494949;
  width: 270px;
  padding: 4px 10px;
  color: #494949;
}
.emptyButton:hover {
  background-color: #deb887;
}
.emptyButton button {
  font-size: 15px;
}
.registerDes {
  color: #494949;
  width: 200px;
  font-size: 12px;
}
.stayMid {
  margin: 0 auto;
  text-align: center;
  line-height: 2;
}
.registerContainer {
  border-bottom: 4px solid #494949;
  margin-top: 59px;
  padding-bottom: 40px;
  position: relative;
}
.registerContainerInner {
  position: absolute;
  width: 17%;
  height: 40px;
  left: 43%;
  right: 0px;
  background: #feffec;
  text-align: center;
  bottom: -28px;
}
